$backgroundColor: #1F1F1F;

View {
    flex-direwction: column;
    background-color: $backgroundColor;
    padding-left: 8;
    padding-bottom: 8;
}

HBox {
    flex-direction: row;
    padding-all: 16;
    background-color: $backgroundColor;
}

ScrollArea {
    width: 100%;
    height: 100%;
    horizontal-scrollbar: false;
}

Panel.scroll {
    width: 100%;
    height: auto;
    padding-right: 40;
    background-color: $backgroundColor;
}

Label {
    min-height: 20;
    color: #999999;
}

Label.title {
    color: white;
    font-size: 18;
    font-style: bold;
    min-height: 24;
    margin-top: 8;
    margin-bottom: 4;
}

Label.underline_on_hover:hover {
    font-style: underline;
    cursor: pointer;
    color: #FFFF99;
}

TextButton {
    min-height: 24;
    width: 120;
    margin-all: 4;
}

TextButton.gradient {
    height: 26;
    border-radius: 13;
    text-color-off: white;
    background-color: linear-gradient(180deg, #336633 0%, #006600 50%, #000000 100%);
}

TextButton.gradient:hover {
    text-color-off: yellow;
    background-color: linear-gradient(180deg, #339933 0%, #009900 50%, #111111 100%);
}

TextButton.gradient:active {
    text-color-off: yellow;
    background-color: linear-gradient(180deg, #999933 0%, #999900 50%, #111111 100%);
}

TextButton:hover {
    cursor: pointer;
}

ToggleButton {
    margin-all: 4;
    min-height: 20;
    color: #CCCCCC;
    cursor: pointer;
}

ComboBox {
    margin-all: 4;
    height: 24;
    width: 120;
    text-color: #CCCCCC;
    highlight-text-color: #FFCC99;
    highlight-color: #336699;
}

Slider {
    margin-top: 4;
    margin-bottom: 4;
    text-box-color: #CCCCCC;
}

Slider.horizontal {
    slider-style: horizontal;
    height: 20;
}

Slider.horizontal-bar {
    slider-style: horizontal bar;
    height: 20;
    track-color: darkcyan;
}


Slider.vertical {
    slider-style: vertical;
    height: 100;
}

Slider.rotary {
    slider-style: rotary;
    width: 100;
    height: 100;
    text-box-position: below;
    text-box-border-color: none;
}

Slider.rotary: hover {
    fill-color: darkcyan;
    border-color: cyan;
}

Slider.colored {
    thumb-color: magenta;
    track-color: darkmagenta;
    background-color: #1F001F;
    text-box-position: none;
}

TextEditor {
    margin-all: 4;
    height: 24;
}

TextEditor.rounded {
    border-radius: 10;
}

TextEditor.multiline {
    multiline: true;
    height: 100;
}

CodeEditor {
    margin-all: 4;
    height: 120;
    background-color: white;
    line-number-color: #0F0F0F;
}

Panel {
    width: 100;
    height: 100;
    margin-all: 16;
}

MidiKeyboard {
    width: 80%;
    height: 80;
}